[workspace]
members = [
    "rust/bin/acars_router",
    "rust/libraries/acars_config",
    "rust/libraries/acars_data_processing",
    "rust/libraries/acars_logging",
    "rust/libraries/acars_connection_manager"
]