[package]
name = "acars_connection_manager"
version.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
stubborn-io = "0.3.1"
log = "0.4.17"
tokio = { version = "1.21.2", features = ["full", "tracing"] }
tokio-util = { version = "0.7.4", features = ["full"] }
tokio-stream = "0.1.10"
futures = "0.3.24"
async-trait = "0.1.57"
zmq = "0.9.2"
tmq = "0.3.2"
acars_vdlm2_parser = { git = "https://github.com/jcdeimos/acars_vdlm2_parser", version = "0.1.12" }
acars_config = { path = "../acars_config" }
