[package]
name = "acars_router"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
log = "0.4.22"
tokio = { version = "1.41.1", features = ["full", "tracing"] }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"
acars_config = { path = "../../libraries/acars_config" }
sdre-rust-logging = "0.3.7"
acars_connection_manager = { path = "../../libraries/acars_connection_manager" }
