---
name: Linting (Hadolint)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'Dockerfile'

jobs:

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 
      - uses: hadolint/hadolint-action@v1.6.0
        with:
          dockerfile: ./Dockerfile
          verbose: true
          format: tty
          # DL3003: Use WORKDIR to switch to a directory
          #   - Ignored because we use pushd/popd to move around the image without creating extra layers.
          # DL3008: Pin versions in apt get install
          #   - No.
          # DL3013: Pin versions in pip
          #   - No.
          ignore: DL3003 DL3008 DL3013
