---
name: Pull Request

on:
  # Enable manual running of action if necessary
  workflow_dispatch:
  # Build and test deployment the image on pushes to main branch
  pull_request:
    # # Only publish on push to main branch
    # branches:
    #   - main
    # Only run if the PR yaml, Dockerfile, sh, py or rs files have changed
    paths:
      - Dockerfile**
      - "**on_pr.yaml"
      - "**.py"
      - "**.rs"
      - "**.sh"
      - "**.toml"

jobs:
  hadolint:
    name: "Linting: hadolint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - name: Pull hadolint/hadolint:latest Image
        run: docker pull hadolint/hadolint:latest
      - name: Run hadolint against Dockerfiles
        run: docker run --rm -i -v "$PWD":/workdir --workdir /workdir --entrypoint hadolint hadolint/hadolint --ignore DL3013 --ignore DL3008 $(find . -type f -iname "Dockerfile*")

  test_rust_functionality:
    name: Build and test rust functionality
    runs-on: ubuntu-latest
    if: ${{ false }} # disable for now
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0

      - name: Install Rust and deps
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libzmq3-dev
          python3 -m pip install zmq

      - name: Get binary version from Cargo.toml
        id: release_version
        run: |
          # Get version from Cargo.toml
          RELEASE_VERSION=$(cat ./rust/bin/acars_router/Cargo.toml | grep '\[package\]' -A9999 | grep -m 1 'version = ' | tr -d " " | tr -d '"' | tr -d "'" | cut -d = -f 2)
          echo "$RELEASE_VERSION"

      - name: Run tests
        run: |
          cd test_data
          ./run_acars_ruster_test.sh

  test_functionality:
    name: "Test Functionality"
    runs-on: ubuntu-latest
    if: ${{ false }} # disable for now
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
      - name: Install test dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y socat netcat
          sudo python3 -m pip install -r ./acars_router/requirements.txt
      - name: "ACARS: Patch test file timestamps"
        run: |
          jq -cM ".timestamp = \"$(date +%s.%N)\"" < ./test_data/acars > ./test_data/acars.patched
          cat ./test_data/acars.patched

      - name: "ACARS: Test UDP Listen -> UDP Send"
        run: ./test_data/test_udp.sh acars
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      - name: "ACARS: Test TCP Listen -> TCP Send"
        run: ./test_data/test_tcplisten_tcpsend.sh acars
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      - name: "ACARS: Test TCP Receive -> TCP Serve"
        run: ./test_data/test_tcpreceive_tcpserve.sh acars
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      # TODO: Fix this test
      # - name: "ACARS: Test UDP Listen -> ZMQ Serve"
      #   run: ./test_data/test_udp_zmqserver.sh acars
      # - name: Clean up between tests
      #   run: ./test_data/clean_up_after_test.sh acars

      - name: "VDLM2: Patch test file timestamps"
        run: |
          jq -cM ".vdl2.t.sec = $(date +%s)" < ./test_data/vdlm2 > ./test_data/vdlm2.patched
          cat ./test_data/vdlm2.patched

      - name: "VDLM2: Test UDP Listen -> UDP Send"
        run: ./test_data/test_udp.sh vdlm2
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      - name: "VDLM2: Test TCP Listen -> TCP Send"
        run: ./test_data/test_tcplisten_tcpsend.sh vdlm2
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      - name: "VDLM2: Test TCP Receive -> TCP Serve"
        run: ./test_data/test_tcpreceive_tcpserve.sh vdlm2
      - name: Clean up between tests
        run: ./test_data/clean_up_after_test.sh

      # TODO: Fix this test
      # - name: "VDLM2: Test UDP Listen -> ZMQ Serve"
      #   run: ./test_data/test_udp_zmqserver.sh vdlm2
      # - name: Clean up between tests
      #   run: ./test_data/clean_up_after_test.sh vdlm2

  binary_build:
    name: Build Binaries
    runs-on: ubuntu-latest
    # needs: test_rust_functionality
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0

      # - name: "Install OS dependencies: armhf"
      #   uses: ryankurte/action-apt@v0.3.0
      #   with:
      #     arch: armhf
      #     packages: "libzmq3-dev:armhf"

      # - name: "Install OS dependencies: arm64"
      #   uses: ryankurte/action-apt@v0.3.0
      #   with:
      #     arch: arm64
      #     packages: "libzmq3-dev:arm64"

      # i386 currently does not work...
      # - name: "Install OS dependencies: i386"
      #   uses: ryankurte/action-apt@v0.3.0
      #   with:
      #     arch: i386
      #     packages: "libzmq3-dev:i386"

      - name: "Install OS dependencies: arm64 arm7 amd64"
        run: |
          sudo sed -i'' -E 's/^(deb|deb-src) http:\/\/(azure.archive|security).ubuntu.com/\1 [arch=amd64,i386] http:\/\/\2.ubuntu.com/' /etc/apt/sources.list
          sudo dpkg --add-architecture arm64
          sudo dpkg --add-architecture armhf
          echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs) main restricted universe" | sudo tee /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-updates main restricted universe" | sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-backports main restricted universe "| sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-security main restricted universe" | sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list

          echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs) main restricted universe" | sudo tee /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-updates main restricted universe" | sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-backports main restricted universe "| sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list
          echo "deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports/ ::set-output name=distro::$(lsb_release -cs)-security main restricted universe" | sudo tee -a /etc/apt/sources.list.d/${{ inputs.arch }}.list
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libzmq3-dev libzmq3-dev:armhf libzmq3-dev:i386

      - name: "Install rust targets/toolchains for cross build"
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            g++-arm-linux-gnueabihf \
            libc6-dev-armhf-cross \
            g++-aarch64-linux-gnu \
            libc6-dev-arm64-cross

          rustup target add armv7-unknown-linux-gnueabihf
          rustup toolchain install stable-armv7-unknown-linux-gnueabihf
          rustup target add aarch64-unknown-linux-gnu
          rustup toolchain install stable-aarch64-unknown-linux-gnu
          rustup target add x86_64-unknown-linux-gnu
          rustup toolchain install stable-x86_64-unknown-linux-gnu

      - name: Build armv7
        run: |
          PKG_CONFIG_SYSROOT_DIR=/usr/arm-linux-gnueabihf RUSTFLAGS="-C linker=/usr/bin/arm-linux-gnueabihf-gcc" cargo build --release --target armv7-unknown-linux-gnueabihf

      - name: Build arm64
        run: |
          PKG_CONFIG_SYSROOT_DIR=/usr/aarch64-linux-gnu RUSTFLAGS="-C linker=/usr/bin/aarch64-linux-gnu-gcc" cargo build --release --target aarch64-unknown-linux-gnu

      - name: Build amd64
        run: |
          cargo build --release

      - name: Consolidate binaries
        run: |
          mkdir -p ./bin
          cp -v ./target/release/acars_router ./bin/acars_router.amd64
          cp -v ./target/armv7-unknown-linux-gnueabihf/release/acars_router ./bin/acars_router.armv7
          cp -v ./target/aarch64-unknown-linux-gnu/release/acars_router ./bin/acars_router.arm64

      - name: Upload artifact amd64 binary
        uses: actions/upload-artifact@v3
        with:
          name: acars_router.amd64
          path: ./bin/acars_router.amd64

      - name: Upload artifact armv7 binary
        uses: actions/upload-artifact@v3
        with:
          name: acars_router.armv7
          path: ./bin/acars_router.armv7

      - name: Upload artifact arm64 binary
        uses: actions/upload-artifact@v3
        with:
          name: acars_router.arm64
          path: ./bin/acars_router.arm64

      - name: Cache Cargo Build Output
        uses: actions/cache@v3
        with:
          path: bin/
          key: ${{ github.run_id }}

      # # Allows troubleshooting via SSH
      # - name: Setup upterm session
      #   uses: lhotari/action-upterm@v1
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     limit-access-to-users: mikenye

  test_docker_image_build:
    name: Test Docker Image Build
    needs: [hadolint, binary_build, test_functionality]
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/build_and_push_image.yml@main
    with:
      get_version_method: cargo_toml_file_in_repo:file=/Cargo.toml
      build_with_tmpfs: true
      build_nohealthcheck: false
      cache_enabled: true
      cache_path: bin/
      cache_key: ${{ github.run_id }}
